/**
 * Returns true if all of the values in the list or hash map pass the iterator
 * truth test.
 */

@import "../types/is-hash"
@import "../utility/identity"

fn-every(list, iterator = null)
  iterator = iterator or fn-identity

  every = true
  if fn-is-hash(list)
    every = every and iterator(value, key, list) for key, value in list
  else
    every = every and iterator(value, index, list) for value, index in list

  return every

fn-all = fn-every