/**
 * Looks through each value in the list, returning the first one that passes a
 * truth test
 */

@import "../types/is-hash"
@import "../utility/identity"

fn-find(list, iterator = null)
  iterator = iterator or fn-identity

  if fn-is-hash(list)
    return value if iterator(value, key) for key, value in list
  else
    return value if iterator(value, index) for value, index in list

fn-detect = fn-find