/**
 * Produces a new list of values by mapping each value in list or hash map
 * through an iterator function.
 */

@import "../utility/identity"

fn-map(list, iterator = null)
  iterator = iterator or fn-identity

  map = ()

  if list is a "object"
    push(map, iterator(value, key)) for key, value in list
  else
    push(map, iterator(value, index)) for value, index in list

  return map