/**
 * Reduce a list or hash map into a single value by passing/returning a memo
 * value to/from an iterator function for each value in the collection.
 */

@import "../types/is-hash"

fn-reduce(list, iterator, memo)
  if fn-is-hash(list)
    memo = iterator(memo, value, key) for key, value in list
  else
    memo = iterator(memo, value, index) for value, index in list

  return memo

fn-inject = fn-reduce
fn-foldl = fn-reduce