/**
 * Returns the values in list without the elements that the truth test
 * (iterator) passes. The opposite of filter.
 */

@import "../types/is-hash"
@import "../utility/identity"

fn-reject(list, iterator = null)
  iterator = iterator or fn-identity

  filter = ()
  if fn-is-hash(list)
    push(filter, value) unless iterator(value, key, list) for key, value in list
  else
    push(filter, value) unless iterator(value, index, list) for value, index in list

  return filter