/**
 * Returns true if any of the values in the list or hash map pass the iterator
 * truth test.
 */

@import "../types/is-hash"
@import "../utility/identity"

fn-some(list, iterator = null)
  iterator = iterator or fn-identity

  some = false
  if fn-is-hash(list)
    some = some or iterator(value, key) for key, value in list
  else
    some = some or iterator(value, index) for value, index in list

  return some

fn-any = fn-some