#is-string {
  unit: false;
  ident: false;
  string: true;
  list-unit: false;
  list-ident: false;
  list-string: false;
  list-hash: false;
  pairs-unit: false;
  pairs-ident: false;
  pairs-string: false;
  hash-ident: false;
  hash-string: false;
}