@import "fn/collections/each"

pair(value, key)
  {key}: value

list = 1 2 3
hash = {
  a: 1
  b: 2
  c: 3
}

#each-list
  fn-each(list, pair)

#each-hash
  fn-each(hash, pair)

#alias
  fn-for-each: fn-for-each is fn-each