@import "fn/collections/map"

list = 1 2 3
hash = {
  a: 1
  b: 2
  c: 3
}

double(num, key, list)
  return num * 2

#map-list-identity
  foo: fn-map(list)

#map-list-double
  foo: fn-map(list, double)

#map-hash-identity
  foo: fn-map(hash)

#map-hash-double
  foo: fn-map(hash, double)

#alias
  fn-collect: fn-collect is fn-map