@import "fn/collections/max"

list = 2 3 1
hash = {
  a: 2
  b: 3
  c: 1
}

key-of(value, key, list)
  return key

#max
  list-value: fn-max(list)
  list-key: fn-max(list, key-of)
  hash-value: fn-max(hash)
  hash-key: fn-max(hash, key-of)