@import "fn/collections/reduce-right"

list = (1 2) (3 4) (5 6)
hash = {
  a: 1 2
  b: 3 4
  c: 5 6
}

push-key(memo, value, key, list)
  push(memo, key)
  return memo

#reduce-right-list
  foo: fn-reduce-right(list, push-key, ())

#reduce-right-hash
  foo: fn-reduce-right(hash, push-key, ())

#alias
  fn-foldr: fn-foldr is fn-reduce-right