@import "fn/collections/reduce"

list = 1 2 3
hash = {
  a: 1
  b: 2
  c: 3
}

add(x, y, key, list)
  return x + y

key-list(memo, value, key, list)
  return memo + key

#reduce-list
  foo: fn-reduce(list, add, 0)

#reduce-list-memo
  foo: fn-reduce(list, add, 10)

#reduce-list-keys
  foo: fn-reduce(list, key-list, "")

#reduce-hash
  foo: fn-reduce(hash, add, 0)

#reduce-hash-memo
  foo: fn-reduce(hash, add, 10)

#reduce-hash-keys
  foo: fn-reduce(hash, key-list, "")

#alias
  fn-inject: fn-inject is fn-reduce
  fn-foldl: fn-foldl is fn-reduce