@import "fn/collections/reject"

is-even(num)
  return num % 2 is 0

is-equal(value, other)
  return value is other

list = 0 3 2 7 5 4 2 11
hash = {
  a: 0
  b: 3
  c: 2
  d: 7
  e: 5
  f: 4
  g: 2
  h: 11
  "foo": "foo"
  "bar": "bar"
}

#reject-list-value
  foo: fn-reject(list, is-even)

#reject-list-value-key
  foo: fn-reject(list, is-equal)

#reject-hash-value
  foo: fn-reject(hash, is-even)

#reject-list-value-key
  foo: fn-reject(hash, is-equal)