#reject-list-value {
  foo: 3 7 5 11;
}

#reject-list-value-key {
  foo: 3 7 5 4 2 11;
}

#reject-list-identity {
  foo: 0;
}

#reject-hash-value {
  foo: 3 7 5 11 "foo" "bar";
}

#reject-hash-value-key {
  foo: 0 3 2 7 5 4 2 11;
}

#reject-hash-identity {
  foo: 0;
}
