#some-list-true {
  foo: true;
}

#some-list-false {
  foo: false;
}

#some-list-true-false {
  foo: true;
}

#some-list-even {
  foo: true;
}

#some-list-odd {
  foo: false;
}

#some-list-even-odd {
  foo: true;
}

#some-hash-true {
  foo: true;
}

#some-hash-false {
  foo: false;
}

#some-hash-true-false {
  foo: true;
}

#some-hash-even {
  foo: true;
}

#some-hash-odd {
  foo: false;
}

#some-hash-even-odd {
  foo: true;
}

#alias {
  fn-any: true;
}